apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: techshop
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres-techshop
          image: postgres:15
          ports:
            - containerPort: 5432
          
          # Переменные из Secret
          env:
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: techshop-secret    # имя нашего Secret
                  key: POSTGRES_USER
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: techshop-secret
                  key: POSTGRES_PASSWORD
            - name: POSTGRES_DB
              valueFrom:
                secretKeyRef:
                  name: techshop-secret
                  key: POSTGRES_DB
          
          # Ресурсы
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
          
          # Liveness probe — перезапустить если завис
          livenessProbe:
            exec:
              command:
                - pg_isready
                - -U
                - postgres
            initialDelaySeconds: 30
            periodSeconds: 10
          
          # Readiness probe — убрать из балансировки если не готов
          readinessProbe:
            exec:
              command:
                - pg_isready
                - -U
                - postgres
            initialDelaySeconds: 5
            periodSeconds: 5
          
          # Подключение volume
          volumeMounts:
            - name: postgres-data
              mountPath: /var/lib/postgresql/data
      
      # Объявление volume
      volumes:
        - name: postgres-data
          persistentVolumeClaim:
            claimName: postgres-pvc    # имя нашего PVC